.inter-normal{
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

.merriweather-regular{
    font-family: "Merriweather", serif;
    font-style: normal;
  }

*{
    margin: 0;
}

/* Header Section */

.header{
    background-image: url("../images/Banner\ Image.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    width: 1320px;
    height: 600px;
    margin: 50px auto;
    /* margin: 50px 140px 120px 180px; */
    display:flex ;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.header_subtitle{
    color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 32px;
}

.header_title{
    color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
padding: 0px 340px;
}

/* discount Section */

.discount{
    margin: 320px 400px;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.discount_title{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 88px;
font-weight: 700;
margin-bottom: 45px;
}

.discount_subtitle{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 24px;
font-weight: 500;
margin-bottom: 15px;
}

.discount_heading{
    color: rgb(7, 2, 17);
font-family: Inter;
font-size: 48px;
font-weight: 700;
margin-bottom: 45px;
}

.discount img{
    width: 800px;
    height: 500px;
}

/* Greetings Section */

.greetings{
    background-image: url("../images/Vectorrr.png");
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 140px 120px;
    display: flex;
    justify-content: space-around;
}

.greetings_all_text{
    padding: 126px 120px;
    font-family: "Merriweather";
}

.greeting_title{
    color: rgb(255, 255, 255);
/* font-family: Merriweather; */
font-size: 64px;
font-weight: 900;
margin-bottom: 24px;
}

.greeting_description{
    color: rgba(255, 255, 255, 0.8);
font-family: Inter;
font-size: 18px;
font-weight: 400;
margin-bottom: 45px;
}

.join{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 20px;
font-weight: 700;
margin-left: 60px;
text-transform: uppercase;
}

.greetings_img{
    margin: 60px 100px;
}

/* Vanue Section */

.vanue{
    margin: 100px 385px 215px;
    text-align: center;
    display: block;
    gap: 15px;
}

.vanue span{
    color: red;
}

#date, #time, #place{
    margin-bottom: 20px;
    font-family: Inter;
font-size: 32px;
font-weight: 600;
}

.vanue button{
    background-color: red;
    width: 160px;
    height: 56px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
}

/* Offer Section */

.offer_container{
    display: flex;
    justify-content: space-evenly;
}

.offer_first_div{
    width: 380px;
}

.offer_subtitle{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 24px;
font-weight: 500;
text-transform: uppercase;
margin-bottom: 16px;
}

.offer_title{
    color: rgb(7, 2, 17);
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
margin-bottom: 22px;
}

.offer_description{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;
}

.offer_1st_img{
    border: 15px solid red;
    padding: 30px;
    border-radius: 50%;
}

.offer_2nd_div{
    width: 380px;
}

.offer_heading{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 48px;
font-weight: 700;
margin-bottom: 16px;
}

.offer_description_2{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;
margin-bottom: 40px;
}

.sale_section{
    margin: 120px 266px;
    text-align: center;
}

.sale_subtitle{
    color: rgb(7, 2, 17);
font-size: 24px;
font-weight: 500;
margin-bottom: 16px;
}

.sale_title{
font-size: 72px;
font-weight: 900;
margin-bottom: 28px;
}

.sale_span{
    color: red;
}

.sale_discription{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 500;
}

/* Footer Section */

footer{
    background-color: rgb(7, 2, 17);
}

.footer_1st_div{
    display: flex;
    justify-content: space-around;   
margin-top: 120px;
margin-bottom: 50px;
align-items: center;
}

.footer_1st_div_text{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 24px;
font-weight: 500;
}

.footer_icons{
    display: flex ;
    justify-content: center;
    gap: 10px;
    height: 35px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.footer_icon img{
    border: 2px dashed white;
}

.footer_last_div_text{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 24px;
font-weight: 500;
}

.footer_last_div{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
}
